# Q.No.1

In [27]:
FN=input("Enter your first name======>  ")
LN=input("\nEnter your last name======>   ")
AD=input("\nEnter your Address======>  ")
RN=input("\nEnter your Rollnumber======>  ")

Enter your first name======>  Misbah

Enter your last name======>   Rani

Enter your Address======>  Izafi basti

Enter your Rollnumber======>  45689

In [29]:
print("First name==>" , FN , "\n\n Last name==>" , LN , "\n\n Address==>" , AD , "\n\n Rollnumber==>" , RN)

First name==> Misbah

 Last name==> Rani

 Address==> Izafi basti

 Rollnumber==> 45689

# Q.No.2

In [30]:
full=(FN +" "+ LN)
full

'Misbah Rani'

In [6]:
print("Misbah"+" "+"Rani")

Misbah Rani

In [31]:
len(full)

11

# Q.No.3

In [6]:
Information=[]
Information.append(input("Enter your first name======>  "))
Information.append(input("\nEnter your last name======>   "))
Information.append(input("\nEnter your Address======>  "))
Information.append(input("\nEnter your Rollnumber======>  "))
Information

Enter your first name======>  Misbah

Enter your last name======>   Rani

Enter your Address======>  Izafi basti

Enter your Rollnumber======>  45689

['Misbah', 'Rani', 'Izafi basti', '45689']

In [16]:
Information=[]
FN=input("Enter your first name======>  ")
LN=input("\nEnter your last name======>   ")
AD=input("\nEnter your Address======>  ")
RN=input("\nEnter your Rollnumber======>  ")
Information.append(FN)
Information.append(LN)
Information.append(AD)
Information.append(RN)
Information

Enter your first name======>  Misbah

Enter your last name======>   Rani

Enter your Address======>  Izafi basti

Enter your Rollnumber======>  45689

['Misbah', 'Rani', 'Izafi basti', '45689']

# Q.No.4

In [18]:
len(Information[0])

6

In [26]:
len(Information[0])

6

# Q.No.6

In [14]:
len(Information)

4

In [5]:
type(FN)

str

In [6]:
type(LN)

str

In [7]:
type(AD)

str

In [8]:
type(RN)

str

# Q.No.7

In [8]:
Num1=int(input("Enter first number==> "))
Num2=int(input("Enter second number==> "))
print("sum is==>" , Num1+ Num2)

Enter first number==> 65
Enter second number==> 25
sum is==> 90

In [32]:
Num1=int(input("Enter first number==> "))
Num2=int(input("Enter second number==> "))
print("The subtract is==>" , Num1- Num2)

Enter first number==> 23
Enter second number==> 10
The subtract is==> 13

In [10]:
Num1=int(input("Enter first number==> "))
Num2=int(input("Enter second number==> "))
print("Multipul is==>" , Num1* Num2)

Enter first number==> 15
Enter second number==> 5
Multipul is==> 75

In [11]:
Num1=int(input("Enter first number==> "))
Num2=int(input("Enter second number==> "))
print("The Divion is==>" , Num1/Num2)

Enter first number==> 18
Enter second number==> 3
The Divion is==> 6.0